<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>


    <style>
          label{
            font-size: 20px;

        }
        .form-group{
            margin-top: 20px;
        }
        .container-css{
            margin-top: 50px;
        }
        .inputf-css{
            border-top: none;
            border-left:none;
            border-right:none;
            border-bottom: 2px solid ;
            border-radius: 0;
            font-size:20px ;
            margin: 10px;
        }
        .inputf-css:focus{
            outline: none!important;            

        }
        *:focus {
    outline: none!important;
}
    </style>
</head>

<body>

    <div class="container container-css ">
         {{#if msg}}

  <div class="alert alert-warning alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{msg}}</strong>

  </div>
{{/if}}

<h3>Welcome  {{admin}}</h3>
<hr/>
<h3>ADD CUSTOMERS</h3>

  <form action="/addCustomers" method="post">
        <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" name='name' class="form-control inputf-css" id="exampleInput" placeholder="enter your name" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name='email' class="form-control inputf-css" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
            </div>
              
              <div class="form-group">
                <label for="exampleInputPassword1">Mobile </label>
                <input type="number" name='mob' class="form-control inputf-css" id="exampleInput" placeholder="enter your mobile no." required>
            </div>

            {{!-- <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name='password' class="form-control inputf-css" id="exampleInputPassword1" placeholder="Password" required>
            </div> --}}

            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
</body>